<div class="main">
    <div class="company">
        <img src="../../assets/images/icon.svg" alt="">
        <div class="line1">Copyright © 2022 Quick NFT's Ltd.</div>
        <div class="line2">All right reserved</div>
    </div>
    <div class="terms-condition">
        <div class="heading">Privacy</div>
        <div class="line1">Terms of Service</div>
        <div class="line2">Privacy Policy</div>
    </div>
    <div class="terms-condition">
        <div class="heading">Quick NFT's Team</div>
        <div class="line1">Shafiq-Ur-Rehman</div>
        <div class="line2">Fs-Code</div>
    </div>
</div>
