<div class="generator-main-container">
    <h1 class="heading">Generator</h1>
    <div>
        <form class="collection-info">
            <div>
                <div class="lable">Enter Collection Name</div>
                <input type="text">
                <div>Select type</div>
                <input type="select">
            </div>
            <div>
                <div class="lable">Enter Discription</div>
                <input type="text">
            </div>
            <div>
                <div class="lable">Enter Collection Size</div>
                <input type='number'>
                
            </div>
        </form>
    </div>
</div>
