.generator-main-container {
    width: 130vh;
    height: 70vh;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.377);

    h1 {
        font-family: sans-serif;
        font-size: 24pt;
    }

    .collection-info {

        width: 130vh;
        height: 60vh;
        display: flex;
        flex-direction: column;

        .item {
            width: 50%;
            display: flex;
            :first-child {
                margin-right: 55px;
            }

            .lable {
                font-family: sans-serif;
                font-size: 13pt;
                margin-bottom: 3px;
            }

            input {
                outline: none;
                background-color: rgb(35, 42, 97);
                font-size: 15px;
                color: #ffff;
                margin-bottom: 20px;
                height: 5vh;
                border: none;
                border-radius: 5px;
                width: 100%;
                margin: 5% 0;
                padding: 0 5px;
            }

            input[type=number]:focus {
                border: 2px solid #F3B105 !important;
            }

            input[type=text]:focus {
                border: 2px solid #F3B105 !important;
            }

        }

        .item2 {
            width: 42%;
            display: flex;
            flex-direction: column;
            .lable {
                font-family: sans-serif;
                font-size: 13pt;
                margin-bottom: 3px;
            }

            .resolution {
                display: flex;
            }

            .width {
                margin-right: 55px;
            }

            input {
                outline: none;
                background-color: rgb(35, 42, 97);
                font-size: 15px;
                color: #ffff;
                height: 5vh;
                border: none;
                border-radius: 5px;
                width: 100%;
                margin: 1% 0;
                padding: 0 5px;
            }

            input[type=number]:focus {
                border: 2px solid #F3B105 !important;
            }
        }

        .item3 {
            width: 98%;
            display: flex;
            flex-direction: column;

            .lable {
                font-family: sans-serif;
                font-size: 13pt;
                margin: 15px 0px;
            }

            textarea {
                outline: none;
                background-color: rgb(35, 42, 97);
                font-size: 15px;
                color: #ffff;
                height: 30vh;
                border: none;
                border-radius: 5px;
                width: 100%;
                margin: 1% 0;
                padding: 10px 5px;
            }
            textarea:focus {
                border: 2px solid #F3B105 !important;
            }

        }
    }
    .bottom-btn{
        display: flex;
        justify-content: end;
        :first-child{
            border: #F3B105 solid 1px;
            margin-right: 2%;
            width: 10%;
            color: #F3B105;
        }
    }
    .layer-panal{
        display: grid;
        grid-template-columns: 25% 75%;
        .layer-controller{
            // border: #F3B105 solid 1px;
            height: 65vh;
            border-radius: 5px;
            background-color: rgba(95, 95, 95, 0.342);
            padding-left: 15px;
            padding-right: 15px;
            display: flex;
            flex-direction: column;
            .add-layer{
                display: flex;
                align-items: center;
                margin-bottom: 10%;
                h2{
                    margin-top: 5%;
                    margin-right: 20%;
                    font-size: 22pt;
                    font-family: sans-serif;
                }
                button{
                    width: 45%;
                    background-color: gray;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 15px;
                    line-height: 10px;
                    img{
                        width: 20px;
                    }
                }
            }
            .first{
                display: flex;
                align-items: center;
                font-size: 11pt;
                :first-child{
                    width: 20px;
                    height: 20px;
                    margin-right: 15px;
                    background-color: #F3B105;
                    border-radius: 50%;
                }
            }
            .last{
                display: flex;
                align-items: center;
                font-size: 11pt;
                margin-top: 5px;
                margin-bottom: 20px;
                :first-child{
                    width: 20px;
                    height: 20px;
                    margin-right: 15px;
                    background-color: purple;
                    border-radius: 50%;
                } 
            }
            .layer-tag-container{
                height: 40vh;
                .single-layer{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background-color: rgba(25, 32, 82, 0.486);
                    padding-right: 5%;
                    padding-left: 5%;
                    margin-top: 10px;
                    height: 5vh;
                    
                    .layer-heading{
                        font-family: sans-serif;
                        font-size: 14pt;
                        width: 80%;
                        background-color: rgba(25, 32, 82, 0.486);
                        outline: none;
                        border: none;
                        color: white;
                    }
                    .delete-icon{
                        background-color: rgba(128, 128, 128, 0.315);
                        width: 15%;
                        height: 70%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 100%;
                        cursor: pointer;
                        img{
                            width: 35%;
                        }
                    }
                    .delete-icon:hover{
                        background-color: gray;
                    }
                    .delete-icon:active{
                        border: #F3B105 solid 1px;
                    }
                }
            }
            .btn-container{
                margin-top: 5%;
                display: flex;
                justify-content: space-between;
                :first-child{
                    border: 1px solid gray;
                }
                :last-child{
                    border: #F3B105 solid 1px;
                    color: #F3B105;
                }
            }
            // .layer-tag-container:last-child{
            //     border-left: #F3B105 1px solid;
            // }
            // .layer-tag-container:first-child{
            //     border-left: purple 3px solid;
            // }
        }
        .layer-editor{
            // border: #F3B105 solid 1px;
            height: 65vh;
            border-radius: 5px;
            margin-left: 5px;
            padding-left: 3%;
            padding-right: 3%;
            h2{
                margin-top: 1%;
                font-family: sans-serif;
                font-size: 20pt;   
            }
            .current-layer-tag{
                display:  flex;
                flex-direction: row;
                :first-child{
                    font-family: sans-serif;
                    font-size: 12pt;
                }
                :last-child{
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-size: 12pt;
                    margin-left: 1%;
                    color: #F3B105;
                }
            }
            .image-upload-container{
                margin-top: 5%;
                ngx-file-drop{
                    font-size: 12pt;
                    font-family: sans-serif;
                    div{
                        margin-left: 5px;
                    }
                    div:hover{
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
                .d-flex{
                    display: flex;
                    flex-wrap: nowrap;
                }
                .image-container{
                    // border: #F3B105 1px solid;
                    width: 15%;
                    padding: 10px;
                    border-radius: 10px;
                    margin-bottom: 10px;
                    margin-left: 5px;
                    background-color: rgba(128, 128, 128, 0.705);
                    .image-box{
                        display: flex;
                        flex-direction: column;
                        // align-items: center;
                        img{
                            width: 100%;
                            margin-bottom: 3px;
                        }
                        .name{
                            display: flex;
                            font-size: 12pt;
                            justify-content: space-between;
                            align-items: center;
                        }
                        .delete-icon{
                            width: 12%;
                            // border: #F3B105 1px solid;
                            align-self: flex-end;
                            margin-top: 2px;
                        }
                        .rarity-box{
                            display: flex;
                            width: 90px;
                            input{
                                width: 80px;
                                background-color: transparent;
                                border: none;
                                outline: none;
                                color: #F3B105;
                                margin-left: 5px;
                                font-size: 12pt;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }

        }
    }
}