<div class="intro-main-container">
    <div>
        <div>No-code NFT generator to launch your NFT collection</div>
        <div>in minutes</div>
        <div>
            Our NFT generator can build your collection quicker, and easier, than anything online today. Simply upload your images, configure the rarity settings, generate, and download!
        </div>
        <button mat-button color="primary">Get started!</button>
    </div>
    <div>
        <img src="../../assets/images/mockup-main.png" alt="">
    </div>
</div>
