.dashboard-main-container{
    color: wheat;
    display: grid;
    padding-top: 5%;
    padding-left: 4%;
    padding-right: 4%;
    grid-template-columns: 20% 80%;
    .dashboard-navigation{
        border-radius: 15px;
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(87, 86, 86, 0.616);
        img{
            margin: 5% 0%;
            width: 50%;
        }
        .user-info{
            margin-top: 5%;
            margin-bottom: 10%;
            width: 75%;
            height: 8%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            padding: 0% 4%;
            background-color: #9c720633;
            font-family: sans-serif;
            font-size: medium;
            color: gray;
            :first-child{
                font-size: 14pt;
                font-weight: 500;
                color: white;
                margin-bottom: 5px;
            }
        }
        .link{
            margin-top: 5%;
            width: 75%;
            height: 7%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            padding: 0% 4%;
            background-color: rgba(35, 42, 97, 0.836);
            font-family: sans-serif;
            font-size: medium;
            color: #ffff;
            img{
                width: 25px;
                margin-right: 5px;
            }
        }
        .link:hover{
            border: 1px solid #F3B105;
        }
        .logout-btn{
            width: 65%;
            height: 6%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            padding: 0% 4%;
            background-color: #9c720633;
            font-family: sans-serif;
            font-size: medium;
            top: 37%;
            color: #ffff;
            img{
                width: 15%;
                margin-left: 10px;
                // height: 30%;
            }
        }
    }
    .dashboard-components{
        border-radius: 15px;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffff;
        background-color: rgba(35, 42, 97, 0.438);
        width: 100%;
    }
}